{% extends "layout.html" %}
{% block body %}

<div class="container" id="blog">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Monetisation gambit by Wikipedia!
                    </h2>
                </a>
                <p class="post-meta">Posted by
                    <strong>Manan Sagar</strong>
                    on March 25, 2021
                </p>
            </div>
            <hr>
            <div class="post-preview ">
                <a href="post.html">
                    <h2 class="post-title">
                        The reality behind NFTs
                    </h2>
                </a>
                <p class="post-meta">Posted by
                    <strong>Anonymous</strong>
                    on February 18, 2018
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        How is Reliance taking on the beg techs
                    </h2>
                </a>
                <p class="post-meta">Posted by
                  <strong>Vaibhav</strong>
                    on January 15, 2021
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Will jet airways make a comeback?
                    </h2>
                </a>
                <p class="post-meta">Posted by
                    <strong>Teja</strong>
                    on January 01, 2021
                </p>
            </div>
            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts →</a>
            </div>
        </div>
    </div>
</div>

<hr>

{% endblock %}