<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='layout.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='newsletter.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='news.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stockPrice.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stocks.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='finshots.css')}}">




    <link rel="shortcut icon" href="#" />


</head>

<body>
    <nav class="navbar navbar-expand-md ">


        <div class="container">
            <a href="/" class="navbar-brand text-warning font-weight-bold"><img
                    src="{{url_for('static', filename='navlogo.png')}}" /></a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsenavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a href="news" class="hvr-float-shadow nav-link text-black">Latest News</a>♦
                    </li>
                    <li class="nav-item">
                        <a href="stocks" class="hvr-float-shadow nav-link text-black">Targeted Information</a>♦
                    </li>
                    <li class="nav-item">
                        <a href="finshots" class="hvr-float-shadow nav-link text-black">FINSHOTS</a>♦
                    </li>
                    <li class="nav-item">
                        <a href="stockPrice" class="hvr-float-shadow nav-link text-black">Current Stocks </a>♦
                    </li>
                    <li> <a class="social_Instagram" style="color:#e1306c;" href="#" target="_blank"><i
                                class="fab fa-instagram"></i></a> </li>
                    <li class="nav-item">
                        <a href="blog" class="hvr-float-shadow nav-link text-black">Blog </a>♦
                    </li>
                    <li class="nav-item">
                        <a href="newsletter" class="hvr-float-shadow nav-link text-black">Newsletter </a>♦
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Optional JavaScript; choose one of the two! -->

    
    <div id="particles-js" style="z-index:-1"></div>
    {% block body %}
    <!--BODY-->
    {% endblock %}
    
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>




    <script src="{{url_for('static', filename='index.js')}}"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>