{% extends "layout.html" %}
{% block body %}

<div class="container my-3">
    <h3><strong>Latest Stocks by <span class="badge bg-secondary"> Project GLOFIN</span></strong></h3>
    <hr>
</div>


<div class="container">
    <button class="btn btn-dark" id="choose" type="submit" onclick="companyDetails();">Click Me :)</button>
</div>

<div class="container my-3 mx-auto w-50 ">
               
    <table id="info"> </table>
</div>
<script src="{{url_for('static', filename='stockPrice.js')}}"></script>

{% endblock %}